html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    background-color: dimgray;
}
.name {
    margin: 2rem 0rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: powderblue;
}
.name h1 {
    /* display: inline-block; */
    
    font-size: 4.0rem;
    font-weight: 700;
    padding: 0.4rem 1.5rem 0.4rem 6.0rem;
    margin: 1.0rem 0.0rem 1.0rem 0.0rem;
    color: dimgray;

}

nav {
    font-size: 1.6rem;
    float: right;
    font-weight: 600;
    padding: 0rem 1.5rem 0rem 0rem;
}

nav a {
    color: powderblue;
    margin-left: 2.0rem;
    text-align: center;
    padding-bottom: 1.0rem;
    border-bottom: 4px solid powderblue;
    text-decoration: none;
}

/*********************************************************/
/* TODO: make cover image look nicer */
.subheader {
    height: 25rem;
    background-image: url('../images/subheader2.png');
    width: 100%;
    background-size: contain;
    background-position: left;
    position: relative;
}

.subtitle {
    font-size: 2.8rem;
    background-color: powderblue;
    
    color: dimgray;
    position: absolute;
    bottom: 0.8rem;
    right: 5.5rem;
    padding: 1.0rem 1.6rem 1.0rem 1.6rem;
}

/*********************************************************/
main {
    font-size: 1.5rem;
}

main section div {
    display: inline-block;
    
    
}

section .content {
    padding-left: 4rem;
    margin-right: 5rem;
    border-left: 3px solid rgb(2, 2, 46);
}

/*********************************************************/
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        padding-bottom: 0.5rem;
    }

    .name {
        margin-top: 0rem;
    }
    .name h1 {
        /* margin-left: 0rem; */
        /* justify-content:space-around; */
        padding-left: 1.5rem;
        padding-top: 1.5rem;
    }
    nav a {
        display: block;
        padding-bottom: 2rem;
        border-style: none;
    }
    .subheader {
        height: 15rem;
    }
}